<div class="container">
  <div class="left">
    <h1>Hey, Hello!</h1>
    <p>Join The Design System!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo maiores natus iure corporis veritatis. Pariatur
      consectetur itaque quibusdam deserunt et provident, illum aspernatur maiores laudantium voluptas corporis non
      exercitationem ex?
    </p>
  </div>

  <div class="right">
    <div class="login-form">
      <h2>Welcome Back</h2>
      <p>Let's get started</p>

      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Fullname</mat-label>
          <input matInput formControlName="fullname"  placeholder="Enter your fullname" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email"  placeholder="Enter your email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username"  placeholder="Enter your username" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter your password" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="formGroup.invalid" >Login</button>

        <div class="footer">
          <p>Do you have an account? <a routerLink="/login">Login</a></p>
        </div>
    </form>
  </div>
</div>

