<mat-sidenav-container style="height: 100vh;">

    <mat-sidenav mode="side" [opened]="true">
        <app-navbar-routes></app-navbar-routes>
    </mat-sidenav>


    <mat-sidenav-content>

        <content class="dashboard">

            <div>
                <mat-card style="margin-bottom: 1rem;" *ngFor="let favorite of favoriteProducts">
                    <div style="padding: .5rem; display: flex; justify-content: space-between; ">
                        <mat-card-title>{{ favorite.products?.name }} - ${{ favorite.products?.price }}</mat-card-title>
                        <div>

                            <button mat-icon-button (click)="deleteFromFavorites(favorite.userProductId)">
                                <mat-icon color="warn">
                                    delete
                                </mat-icon>
                            </button>
                            <button mat-icon-button (click)="addSaveFavorites(favorite.userProductId)">

                                <mat-icon color="warn" *ngIf="favorite.isSaved; else notSaved">
                                    check_box
                                </mat-icon>
                                <ng-template #notSaved>
                                    <mat-icon color="warn">
                                        check_box_outline_blank
                                    </mat-icon>
                                </ng-template>
                            </button>

                        </div>

                    </div>
                </mat-card>
            </div>

            <div>

            </div>


        </content>


    </mat-sidenav-content>
</mat-sidenav-container>