<mat-sidenav-container style="height: 100vh;">

    <mat-sidenav mode="side" opened>
        <nav style="padding: 1rem; display: flex; flex-direction: column; gap: 1rem;">
            <button mat-button routerLink="/" routerLinkActive="active">Home</button>
            <button mat-button routerLink="/mylist" routerLinkActive="active">My list</button>
            <button mat-button routerLink="/logout" routerLinkActive="active">Log out</button>
        </nav>
    </mat-sidenav>


    <mat-sidenav-content>

        <mat-card *ngFor="let favorite of favoriteProducts">
            <div>
                <mat-card-title>{{ favorite.products?.name }} - ${{ favorite.products?.price }}</mat-card-title>
                <button mat-icon-button (click)="deleteFromFavorites(favorite.userProductId)">
                    <mat-icon color="warn">
                        delete
                    </mat-icon>
                </button>
                <button mat-icon-button (click)="(favorite.products?.id)">
                    <mat-icon color="warn">
                        check_box_outline_blank
                    </mat-icon>
                </button>
            </div>

            <!--

            <div >
                <mat-card-title>{{ favorite.product.name }} - ${{ favorite.product.price }}</mat-card-title>
                <button mat-icon-button (click)="(favorite.product.id)">
                    <mat-icon color="warn">
                        {{ isFavorite(product.id) ? 'star' : 'star_border' }}
                    </mat-icon>
                </button>
            </div>

            <mat-card-content>
                <p>{{ product.description }}</p>
                <p><small>Category: {{ product.category }}</small></p>
            </mat-card-content>
            -->
        </mat-card>

    </mat-sidenav-content>
</mat-sidenav-container>